header h1 {
    font-family: "Poetsen One", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

header div {
    align-items: center;
}
header {
    padding-top: 1em;
    background-color: #ccc;
}